*{
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 0%;
  margin: 0%;
}
html, body {
  height: 100%;
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

.btn {
  height: 220px;
  width: 220px;
  border: 10px solid black;
  border-radius: 40px;
  margin: 40px;
}
.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
h2 {
  margin-top: 20px;
}
.red {
  background-color: #d95980;;
}
.yellow {
  background-color: #f99b45;
}
.green {
  background-color: #63aac0;
}
.purple {
  background-color: #819ff9;
}

.flash {
  background-color: white;
}
.userflash {
  background-color: green;
}
#high {
  position: absolute;
  left: 80%;
  bottom: 10%;
}
#high span {
  color: rgb(255, 38, 38);
}
